@page "/AddAdult"
@using Models
@inject NavigationManager NavigationManager
@inject FileContext FileContext;
<h3>Add Adult</h3>

<EditForm Model="@adult" OnValidSubmit="@AddNewAdult" >
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div id="addAdult">
    <div class="form-group">
        First Name :<br/> <InputTextArea @bind-Value="adult.FirstName"/>
    </div>
    <div class="form-group">
        Last Name :<br/> <InputTextArea @bind-Value="adult.LastName"/>
    </div>
    <div class="form-group">
        Hair Color :<br/> <InputTextArea @bind-Value="adult.HairColor"/>
    </div>
    <div class="form-group">
        Eye Color :<br/> <InputTextArea @bind-Value="adult.EyeColor" />
    </div>
    <div class="form-group">
        Age :<br/> <InputNumber @bind-Value="adult.Age"/>
    </div>
    <div class="form-group">
        Weight :<br/> <InputNumber @bind-Value="adult.Weight"/>
    </div>
    <div class="form-group">
        Height: <br/><InputNumber @bind-Value="adult.Height"/>
    </div>
    <div class="form-group">
        Sex :<br/> <InputTextArea @bind-Value="adult.Sex"/>
    </div>
    <div class="form-group">
        Job : <br/><InputTextArea @bind-Value="@job"/>
    </div>
    <div class="form-group">
        Salary : <br/><InputNumber @bind-Value="@salary"/>
    </div>
    <p class="actions">
        <button class="btn btn-outline-danger " type="submit">Add Adult</button>
    </p>
    </div>
</EditForm>
@*https://codepen.io/juff03/pen/OXaXRG*@

@code {
    
    private Adult adult=new Adult();
    private Job job1 = new Job();
    
    private string job;
    private int salary;
    

    private void AddNewAdult()
    {
        var count = FileContext.Adults.Last().Id;


        if (string.IsNullOrEmpty(job))
        {
            job = "Unemployed";
            job1.JobTitle = job;
            job1.Salary = salary;
        }
        else
        {
            job1.JobTitle = job;
            job1.Salary = salary;
        }
        adult.JobTitle = job1;
        
        
       

        adult.Id = ++count;
       
     
        FileContext.Adults.Add(adult);
        FileContext.SaveChanges();
        
        Console.WriteLine(adult.ToString());
        Console.WriteLine("Added with success");
        NavigationManager.NavigateTo("/ViewAdults");
        ClearFields();
    }
    private void ClearFields()
    {
        
        job = "";
        salary = 0;
    }

}