@page "/"
<h1>Welcome to DNP1 Assignment</h1>
<AuthorizeView>
    <ul class="form-group">
        <h3>Future updates</h3>
        <li>Edit adult</li>
        <li>Remove adult for "admin"</li>
        <li>Implement family</li>
    </ul>
</AuthorizeView>